/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.body-front-family {
  font-family: "Roboto", sans-serif;
}

.web-blue {
  color: #2196f3;
}
/*======NAV======*/
.img-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
}

.text-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.tel-mail-head {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}
/*======END NAV======*/
/*======HERO======*/
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  /*color: #ffffff;*/
}

.text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  /*color: #FFFFFF;*/
}
/*======END HERO======*/
/*======MAIN======*/
.text-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.text-main-normal {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.text-center {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.text-center-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;
}

.center-team-profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
/*======END MAIN======*/
/*======FOOTER======*/
.mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /*color: #ffffff;*/
}

.tel-mail-footer {
  /*color: #ffffff99;*/
}
/*======END FOOTER======*/

/*======BUTTONS======*/
.button-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #000000;
  background-color: #f5f4fa;
}

.button-style:focus,
.button-style:hover {
  color: #f5f4fa;
  background-color: #2196f3;
}
/*======END BUTTONS======*/

/*======PORTFOLIO======*/
.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*======END PORTFOLIO======*/
