/* font-family: 'Roboto', sans-serif; */

/* font-family: 'Raleway', sans-serif; */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.blue {
  color: rgba(33, 150, 243, 1);
}

/* WebStudio */
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
}

.textnav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navlist:focus,
.navlist:hover {
  color: #2196f3;
}

.telhead {
  color: #757575;
}

.tel-mail {
  color: rgba(255, 255, 255, 0.6);
}
